<div *ngIf="isLoading">
  Loading...
</div>

<div *ngIf="!isLoading">
  <div *ngIf="favoriteCitiesData.length === 0; else elseBlock">There are no items in your favorites list. Go find a city and add it to your list!</div>
</div>

<ng-template #elseBlock>
  <input type="text" [(ngModel)]="filterValue" placeholder="Filter..."/>
  <label>
    <input type="checkbox" [(ngModel)]="isSorted"> Sort by name
    <div *ngIf="isSorted">
      <label>
        <input type="radio"  [(ngModel)]="sortType" name="sortType" value="ascending"> Ascending
      </label>
      <label>
        <input type="radio"  [(ngModel)]="sortType" name="sortType" value="descending"> Descending
      </label>      
    </div>
  </label>

  <ul class="favorite-cities-list">
    <ng-container *ngIf="favoriteCitiesData | filtername:filterValue | sortname:isSorted:sortType as results; else noItemsFilter">
      <li *ngFor="let cityData of results">
        <a [routerLink]="['/city', cityData.id]">
          <current-weather [weatherData]='cityData'></current-weather>
        </a>
      </li>
      <ng-container *ngIf="!results.length" [ngTemplateOutlet]="noItemsFilter"></ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #noItemsFilter>No items found by your filter. Please type a different phrase or add more favorite cities so you can find them.</ng-template>